body{
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size:11px;
    width:595px;
    padding:0;    
    margin:auto;
}

#container{
    width:595px;
    position:relative;
}


#chart{
    width:595px;
    height:400px;
}

#loader{
    display: inline;   
    position:absolute;
    right:195px;
    top:8px;
}

#error{
    display:none;
    color:#000;
    font-weight:bold;
    cursor:pointer;
        
    background: rgb(255,255,136);
    background: -moz-linear-gradient(top, rgba(255,255,136,1) 0%, rgba(252,233,136,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,136,1)), color-stop(100%,rgba(252,233,136,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,136,1) 0%,rgba(252,233,136,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,136,1) 0%,rgba(252,233,136,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,136,1) 0%,rgba(252,233,136,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff88', endColorstr='#fce988',GradientType=0 );
    background: linear-gradient(top, rgba(255,255,136,1) 0%,rgba(252,233,136,1) 100%);

    font-size:12px;    
    
    padding:5px 10px;
    margin:5px;
    
    width: 200px;

    z-index: 5;
    position:absolute;
    top:10px;
    right:10px;


    box-shadow:0px 1px 4px 0px #cccccc;
    -ms-box-shadow:0px 1px 4px 0px #cccccc;
    -o-box-shadow:0px 1px 4px 0px #cccccc;
    -webkit-box-shadow:0px 1px 4px 0px #cccccc;
    -moz-box-shadow:0px 1px 4px 0px #cccccc;

    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    -ms-border-radius:6px;
    -o-border-radius:6px;
    border-radius:6px;
}

.metaresults{
    width:100%;
    margin: 10px;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
}
.metaresults tr{
    width:100%
}
.metaresults td{
    padding: 5px;
    background-color: #fff;
    width:50%;
}

#button_holder{
    width:100%;
    text-align: center;
    position:relative;
}

.refresh {
	
    box-shadow:0px 1px 0px 0px #cccccc;
    -ms-box-shadow:0px 1px 0px 0px #cccccc;
    -o-box-shadow:0px 1px 0px 0px #cccccc;
    -webkit-box-shadow:0px 1px 0px 0px #cccccc;
    -moz-box-shadow:0px 1px 0px 0px #cccccc;

	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ef3f4b), color-stop(1, #d61a2a) );
	background:-moz-linear-gradient( center top, #ef3f4b 5%, #d61a2a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ef3f4b', endColorstr='#d61a2a');
	background-color:#ef3f4b;

	-moz-border-radius:6px;
	-webkit-border-radius:6px;
    -ms-border-radius:6px;
    -o-border-radius:6px;
	border-radius:6px;

	border:1px solid #919191;
    border:0; 

	display:inline-block;
	padding:6px 24px;
    width:220px;

    text-shadow:1px 0 0 #660000, 0 1px 0 #660000, 1px 1px 0 #660000;
    -ms-text-shadow:1px 0 0 #660000, 0 1px 0 #660000, 1px 1px 0 #660000;
    -o-text-shadow:1px 0 0 #660000, 0 1px 0 #660000, 1px 1px 0 #660000;
    -webkit-text-shadow:1px 0 0 #660000, 0 1px 0 #660000, 1px 1px 0 #660000;
    -moz-text-shadow:1px 0 0 #660000, 0 1px 0 #660000, 1px 1px 0 #660000;

    color:white;    

	font-family:arial;
	font-size:15px;
	font-weight:bold;
	text-decoration:none;

    cursor: pointer;

}.refresh:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d61a2a), color-stop(1, #ef3f4b) );
	background:-moz-linear-gradient( center top, #d61a2a 5%, #ef3f4b 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d61a2a', endColorstr='#ef3f4b');
	background-color:#d61a2a;
}.refresh:active {
	position:relative;
	top:1px;
}

footer .social {
    margin-top:10px;
    display:block;
}